@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

/* Core */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}

input::-moz-placeholder {
    font-family: 'Work Sans', sans-serif;
}

.uk-container-1440 {
    width: 1440px;
}

ul {
    padding: 0;
    margin: 0;
}

.nav-list {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

/* General */
/* Header */


.header-upper {
    background: #f2f2f2;
    padding: 10.5px 0;
    font-size: 13px;
    /* padding: 10.5px 0;
    font-size: 13px; */
}

.header-upper a {
    color: #636363;
}

.header-contact .header-contact__item {
    position: relative;
    padding-left: 20px;
}

.header-contact .header-contact__item span.uk-icon {
    position: absolute;
    left: 0;
    top: 1px;
    font-size: 10px;
}

.header-contact .header-contact__item span.uk-icon svg {
    width: 15px;
}

.contact-link:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}

.contact-link:not(:last-child)::before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 18px;
    background-color: #d4d4d4;
}

.header-middle {
    padding: 25px 0 10px 0px;
    border-bottom: 1px solid #e9e9e9;
}

.header-middle .logo {
    max-width: 103px;
    padding-top: 10px;
}

.header-search {
    width: 810px;
    margin-left: -60px;
}

.header-search .input-text {
    width: 100%;
    height: 48px;
    border-radius: 100px;
    border: 2px solid #e9e9e9;
    padding-left: 20px;
    outline: none;
    padding-right: 220px;
}

.header-search .uk-form {
    position: relative;

}

.header-search .btn-search,
.header-search .search-dropdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-search .search-dropdown {
    right: 100px;
}

.header-search .btn-search {
    right: 7px;
}

.header-search .form-row {
    position: relative;
}

.header-search .form-row::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 220px;
    width: 1px;
    height: 30px;
    background-color: #e9e9e9;
    transform: translateY(-50%);

}

.search-category-title {
    font-size: 14px;
}

.search-category-title svg {
    width: 15px;
}

.header-search .btn-search {
    width: 76px;
    height: 36px;
    background-color: #000;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.header-search .btn-search:hover {
    background-color: red;
}

.header-search .btn-search svg {
    color: #fff;
    width: 18px;
}

.header-search .uk-form {
    margin-bottom: 5px;
}

.most-searched>* {
    font-size: 13px;
    font-weight: 400;
    color: #000;
}


.header-widget .widget-item:not(:first-child) {
    margin-left: 20px;
}

.header-widget {
    padding-top: 10px;
}

.header-widget .widget-item {
    color: #000;
    position: relative;
}

.header-widget .widget-item svg {
    width: 25px;
}

.header-widget .widget-item .number {
    position: absolute;
    top: -9px;
    right: -6px;
    width: 18px;
    height: 18px;
    background-color: red;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: #ffff;
}

.header-lower {
    padding: 15px 0;
}

.department-wrapper {
    margin-right: 50px;
    width: 280px;
    background-color: #f03333;
    padding: 15.5px 0;
    color: #ffff;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.department-wrapper .uk-icon {
    max-width: 15px;
}

.department-wrapper span {

    position: relative;
}

.department-wrapper>span::before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: -40px;
    width: 22px;
    height: 2px;
    background-color: #ffff;
}

.department-wrapper>span::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: -40px;
    width: 29px;
    height: 2px;
    background-color: #ffff;
}

.department-wrapper>span>span::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    left: -40px;
    width: 15px;
    height: 1.5px;
    background-color: #ffff;
}

.main-menu>li:not(:last-child) {
    margin-right: 30px;
}

.main-menu>li a {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.main-menu>li a i {
    width: 12px;
}

.header-lower .header-notice {
    font-size: 14px;
}

.header-lower .header-notice .uk-icon {
    margin-right: 8px;
    color: red;
}

.department-wrapper .categories-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 1px hsla(0, 0%, 56%, .1);
    width: 100%;
    text-align: left;
}

.categories-dropdown>ul {
    padding: 0 40px;
}

.categories-dropdown>ul>li:not(:last-child) {
    border-bottom: 1px solid #e9e9e9;
}

.categories-dropdown>ul>li>a {
    display: block;
    padding: 10px 0 10px 20px;
    font-size: 14px;
    color: #636363;
    position: relative;
}

.categories-dropdown>ul>li>a::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #d6d6d6;
    border-radius: 50%;
}

.categories-dropdown>ul>li>a.blue::before {
    background-color: #437cfe;
}

.categories-dropdown>ul>li>a.green::before {
    background-color: #5fca51;
}

.categories-dropdown>ul>li>a.purple::before {
    background-color: #c24ebe;
}

.categories-dropdown>ul>li>a.text-bold {
    font-weight: 600;
    color: #000;
}
.close-categories{
    background-color: rgba(0,0,0,.2);
    padding: 0 40px;
}
.close-categories > span{
    display: block;
    padding: 10px 0;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}